<head>
    <div th:fragment="adminHead">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Holbok Admin</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="~/../../admin/vendors/feather/feather.css">
        <link rel="stylesheet" href="~/../../admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/../../admin/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="~/../../admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/../../admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" type="text/css" href="~/../../admin/js/select.dataTables.min.css">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="~/../../admin/css/vertical-layout-light/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="~/../../admin/images/favicon.png" />
    </div>
  </head>